{% extends "front/layout.html" %}
{% block navcv %}active{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>CV</h1>
    </div>

    <div class="span5">
        <h3>Areas of expertise:</h3>
            <ul>
                <li>Linux</li>
                <li>Apache</li>
                <li>MySQL</li>
                <li>PHP 5.3+ / Zend Certified</li>
                <li>Varnish Cache</li>
                <li>Webservices</li>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>NodeJS</li>

                <li>Java</li>
                <li>Polopoly CMS</li>
                <li>Android SDK</li>
            </ul>

            <h3>Currently learning/playing with</h3>
            <ul>
                <li>Python</li>
                <li>Django</li>
            </ul>
        <h3>Work experience:</h3>
        <ul>
            <li>Developer, VG Mobil AS 2011-2013</li>
            <li>Senior Developer, Edda Media AS (2010 - 2011)</li>

            <li>Developer, Edda Media AS (2007-2010)</li>

        </ul>
        <h3>Reading:</h3>
        <ul>
            <li>Hackernews</li>
        </ul>
        <h3>Education:</h3>
            BSc Computer Science (Honours) - University of Leicester (2004-2007)

    </div>

    <div class="span5">
        <h3>Preferred environment:</h3>
        <a href="{{ STATIC_URL }}img/andreas/workshot.png"><img src="{{ STATIC_URL }}img/andreas/workshot-thumb.png"></a>
        <h4>Workspace:</h4>
        <ul>
            <li>Linux x86_64 (Arch Linux)</li>
            <li>AwesomeWM</li>
            <li>urxvt (Unicode, 256 colour)</li>
            <li>vim + ctrlP,nerdTree,YouCompleteMe</li>
        </ul>

        <h3>Social</h3>
        <div>
            <a class="btn btn-info btn-large" href="http://www.github.com/andreasrs">Github</a>
            <a class="btn btn-info btn-large" href="http://www.linkedin.com/pub/andreas-rudi-s%C3%B8vik/10/bb0/562">LinkedIn</a>
        </div>
    </div>
{% endblock %}
