<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Portal: Andreas Søvik | andreasrs.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A personal blogging portal">
        <meta name="author" content="Andreas Rudi Søvik">

        <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap/css/slate/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap/css/market/market.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/beast.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../assets/ico/favicon.png"> -->
    </head>
    <body>
        <div class="container">

            <div class="masthead">
                <h3 class="muted">Andreas Søvik</h3>
                <div class="navbar">
                    {% block navigation %}
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li class="{% block navblog %}{% endblock %}"><a href="{% url 'blog:index' %}">Blog</a></li>
                                <li class="{% block navcv %}{% endblock %}"><a href="/cv">CV</a></li>
                                <li class="{% block navcontact %}{% endblock %}"><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endblock %}
                </div><!-- /.navbar -->
            </div>

            <div class="row-fluid">
                {% block content %}{% endblock %}
            </div>

            <hr>

            {% block extracontent %}{% endblock %}


            <div class="footer mid">
                <strong><p>&copy; Andreas Rudi Søvik 2013</p></strong>
            </div>

            <div class="row mid">
                Powered by: Python | Django | MySQL | Bootstrap
            </div>

        </div> <!-- /container -->

        <script src="/static/vendor/requirejs/js/require.js"></script>
        <script>
            (function() {
                requirejs.config({
                    baseUrl: '/static',
                    paths: {
                        jquery: ['//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min','lib/jquery/jquery-1.8.2.min'],
                        bootstrap: 'vendor/bootstrap/js/bootstrap.min'},
                    shim: {
                        'bootstrap':{deps: ['jquery']}
                    }
                });

                requirejs(['jquery', 'bootstrap', 'js/pportal'], function($, _bootstrap, pportal) {
                    pportal.start();
                });
            })();
        </script>
    </body>
</html>

