{% extends "post/post.html" %}

{% block comments %}
<h4>Comments:</h4>
    {% if latest_comment_list %}
        {% for listcomment in latest_comment_list %}
            {% if comment.id == listcomment.id %}
            <div class="well highlight" id="comment_{{ listcomment.id }}">
                <span class="label label-success">  Currently viewing</span>
            {% else %}
                <div class="well" id="comment_{{ listcomment.id }}">
            {% endif %}
            <h5>{{ listcomment.title }} - [ {{listcomment.author}} ]</h5>
            <p>{{ listcomment.body }}</p>
        </div>
        {% endfor %}
    {% else %}
        No comments
    {% endif %}
{% endblock %}

